<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!--========================================================================================-->
  <!-- load_gripper-->
  <!-- use_custom_action_servers-->
  <!-- start_moveit-->
  <!-- load_demo_planning_scene-->
  <!-- paused-->
  <!-- use_sim_time-->
  <!-- gui-->
  <!-- headless-->
  <!-- debug-->
  <!-- ns-->
  <!-- static:               This argument fixes the robot statically to the world-->
  <!-- load_gazebo:          This argument dictates whether gazebo should be launched in this file-->
  <!-- initial_joint_states: This argument sets the initial joint states-->
  <!-- -->
  <!-- -->
  <!--========================================================================================-->
  <arg name="no_end_effector"           default="false"/>
  <arg name="load_gripper"              default="false"/> 
  <arg name="load_hand"                 default="true" /> 
  <arg name="use_custom_action_servers" default="true" />
  <arg name="start_moveit"              default="false"/>
  <arg name="load_demo_planning_scene"  default="false"/>

  <arg name="paused"                    default="false"/>
  <arg name="use_sim_time"              default="true" />
  <arg name="gui"                       default="true" />
  <arg name="headless"                  default="false"/>
  <arg name="debug"                     default="false"/>

  <arg name="ns"                        default="panda_simulator"/>
  <arg name="static"                    default="true"/>

  <arg name="load_gazebo"               default="true"/>
  <arg name="initial_joint_states"
                                        default=" -J panda::panda_joint1 0.000
                                                  -J panda::panda_joint2 -0.553876
                                                  -J panda::panda_joint3 0.0
                                                  -J panda::panda_joint4 -2.5361
                                                  -J panda::panda_joint5 0.0
                                                  -J panda::panda_joint6 1.98847
                                                  -J panda::panda_joint7 -0.785398163"/>
  <arg name="intel_realsense"          default="true"/>
  <!-- ================================================================================== -->

  <!-- Load parameters to ROS parameter server -->
  <rosparam command="load" file="$(find panda_gazebo)/config/robot_details.yaml"/>
  <!--<rosparam command="load" file="$(find hithand_control)/config/hithand_control.yaml"/> -->

  <param name="robot_description" command="
	$(find xacro)/xacro '$(find franka_panda_description)/robots/panda_arm_hand.urdf.xacro'
	load_gripper:=$(arg load_gripper)
	load_hand:=$(arg load_hand)
	load_gazebo:=$(arg load_gazebo)
	intel_realsense:=$(arg intel_realsense)
	--inorder"/>
  <param name="/arm/root_name"           value="panda_link0" />

  <param name="/arm/tip_name"            value="hithand"
	 if="$(arg load_hand)" />
  <param name="/arm/tip_name"            value="panda_hand" 
	 if="$(arg load_gripper)" />
  <param name="/arm/tip_name"            value="panda_link8" 
	 if="$(arg no_end_effector)" />

  <!--<param name="/franka_gripper/robot_ip" value="sim" 
	 unless="$(arg no_end_effector)"    /> -->

  <param name="/arm/gravity_tip_name"    value="hithand"
	 if="$(arg load_hand)" />
  <param name="/arm/gravity_tip_name"    value="panda_hand" 
	 if="$(arg load_gripper)" />
  <param name="/arm/gravity_tip_name"    value="panda_link8" 
	 if="$(arg no_end_effector)" />

  <!-- We resume the logic in empty_world.launch, changing the name of the world to be launched -->
  <include if="$(arg load_gazebo)" file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"   value="$(find panda_gazebo)/worlds/panda.world"/>
    <arg name="debug"        value="$(arg debug)" />
    <arg name="gui"          value="$(arg gui)" />
    <arg name="paused"       value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless"     value="$(arg headless)"/>
  </include>

  <!-- Spawn urdf of the robot -->
  <node name="robot_description" pkg="gazebo_ros" type="spawn_model" 
	args="-param robot_description -urdf -model panda $(arg initial_joint_states)"/> 

  <!-- create a tf with base frame as 'base' (to match aml_robot) -->
  <node name="base_to_link0" pkg="tf" type="static_transform_publisher"
        args="0 0 0 0 0 0 1 base panda_link0 100" />
  <node name="world_to_base" pkg="tf" type="static_transform_publisher"
	args="0 0 0 0 0 0 1 world base 100" />
	
  <!-- ros_control panda launch file 
  <include file="$(find panda_sim_controllers)/launch/panda_sim_controllers.launch">
      <arg name="gui"               value="$(arg gui)" />
      <arg name="ns"                value="$(arg ns)" />
      <arg name="load_gripper"      value="$(arg load_gripper)" />
  </include>

  <group if="$(eval arg('use_custom_action_servers') == true)">
    <node name="joint_trajectory_server_emulator" pkg="panda_sim_custom_action_server"
	  type="start_joint_trajectory_server.py" />

    <group if="$(eval arg('load_gripper') == true)">
      <node name="gripper_action_server_emulator" pkg="panda_sim_custom_action_server"
	    type="start_gripper_action_server.py" />
    </group>  
    <group if="$(eval arg('start_moveit') == true)">
       <include file="$(find panda_sim_moveit)/launch/sim_move_group.launch">
          <arg name="load_gripper" value="$(arg load_gripper)" />
          <arg name="info"         value="true" />
       </include>
    </group>
  </group>   

  <group if="$(eval arg('load_demo_planning_scene') == true)">
    <node name="demo_scene_loader" pkg="franka_moveit" type="create_demo_planning_scene.py"
	  respawn="false" output="screen" />
  </group> -->
</launch>
