<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- ================================================================================= -->
  <arg name="load_gripper"     default="false"/>
  <arg name="load_hand"        default="true" />
  <arg name="gui"              default="false"/>
  <arg name="arm_name"         default="panda"/>
  <arg name="control_rate"     default="1000"/>
  <!-- ================================================================================= -->  
  <arg name="robot_name"   value="panda_hithand"
       if="$(arg load_hand)"/>
  <arg name="robot_name"   value="panda"
       unless="$(arg load_hand)"/>
  <arg name="jnt_state_topic"   default="/$(arg arm_name)/joint_states"/>
  <arg name="jnt_des_topic"     default="/$(arg arm_name)/joint_cmd"/>
  <arg name="task_des_topic"    default="/$(arg arm_name)/task_cmd"/>
  <arg name="jnt_cmd_topic"     default="/$(arg arm_name)/joint_position_cmd"/>
  <arg name="robot_state_topic" default="/$(arg arm_name)/robot_state"/>
  <!-- ================================================================================= -->  
  <!-- Load parameters to ROS parameter server -->
  <rosparam file="$(find panda_sim_controllers)/config/panda_control_simple.yaml" command="load"
	ns="$(arg robot_name)" />
  <group ns="$(arg robot_name)">
      <param name="jnt_state_topic"    type="str" value="$(arg jnt_state_topic)"/>
      <param name="jnt_des_topic"      type="str" value="$(arg jnt_des_topic)"/>
      <param name="task_des_topic"     type="str" value="$(arg task_des_topic)"/>
      <param name="jnt_cmd_topic"      type="str" value="$(arg jnt_cmd_topic)"/>
      <param name="robot_state_topic"  type="str" value="$(arg robot_state_topic)"/>
      <param name="rate"               type="int" value="$(arg control_rate)"/>
      <!--
      <rosparam param="root_links">[lbr4_base_link]</rosparam>
      <rosparam param="tip_links">[palm_link]</rosparam>
       -->
  </group>
  <!-- ================================================================================= -->  
  <!-- Load ROS controllers -->
  <node name="panda_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" 
        ns="$(arg robot_name)" output="screen" args="joint_state_controller
					             panda_j1_position_controller
					             panda_j2_position_controller
					             panda_j3_position_controller
					             panda_j4_position_controller
					             panda_j5_position_controller
					             panda_j6_position_controller
					             panda_j7_position_controller
					                                         "/>


  <!-- convert joint states to TF transforms -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
      <remap from="/joint_states" to="/$(arg robot_name)/joint_states" />
  </node>

  <!-- Split joint commands to publish to individual joint effort controllers -->
  <node name="panda_joint_wrapper" pkg="panda_gazebo" type="robot_joint_wrapper"
        respawn="false" output="screen">
    <param name="listen_prefix"     type="str" value="$(arg arm_name)"/>
    <param name="publish_prefix"    type="str" value="$(arg robot_name)"/>
    <param name="control_loop_rate" type="int" value="$(arg control_rate)"/>
    <param name="control_method"    type="str" value="p"/>
    <param name="jnt_cmd_topic"     type="str" value="$(arg jnt_cmd_topic)"/>
  </node>

</launch>
